// pc&sp
@include media('pc') {
  .tb {
    display: none !important;
  }
  .sp {
    display: none !important;
  }
}

@include media('tc') {
  .sp {
    display: none !important;
  }
}

@include media('tb') {
  .pc {
    display: none !important;
  }
}

@include media('sp') {
  .pc {
    display: none !important;
  }
  .tc {
    display: none !important;
  }
}

//hide

@include media('pc') {
  .pc-hide {
    display: none !important;
  }
}

@include media('sp') {
  .sp-hide {
    display: none !important;
  }
}

// wrapper
#wrapper {
  position: relative;
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* input */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
textarea {
  position: relative;
  background-color: transparent;
  border: 1px solid #E7E8E8;
  background-color: #E7E8E8;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3.0rem;
  text-align: left;
  color: #000000;
  outline: none !important;
  @include media('sp') {
    padding: 1.2rem 1.6rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select {
  height: 4.8rem;
  @include media('sp') {
    height: 5.6rem;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: #E7E8E8;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/select-down.svg);
  background-position: calc(100% - 1.2rem) 50%;
  background-size: 1.0rem 0.8rem;
  background-repeat: no-repeat;
  z-index: 0;
  @include media('sp') {
    background-position: calc(100% - 1.0rem) 50%;
  }
}

// picture
picture,
figure,
.image_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

picture img,
figure img,
.image_wrap img {
  width: 100%;
}


// 共通クラス
.u-img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.u-img-contain {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.u-list {
  list-style: disc;
  padding-left: 1.5em;
}
.u-line{
  padding-left: 2px;
    display: inline;
    color: $white_color;
    background:
      linear-gradient(
        to right,
        #008DD4,
        #3A982A
      );
    background-repeat: no-repeat;
    background-size: 100% 1.25em;
    background-position: center;
  }

.h-opacity a, a.h-opacity {
  transition: opacity .3s;

  &:hover {
    opacity: .7;
  }
}

.ff-en {
  font-family: $font_en;
}
