@-webkit-keyframes bound-o {
	0% {
		top: 100px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	25% {
		top: 50px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		top: 150px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	75% {
		top: 50px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		top: 100px;
	}
}
@keyframes bound-o {
	0% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	25% {
		transform: translateY(-20px);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	75% {
		transform: translateY(-10px);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		transform: translateY(0px);
	}
}