// $font_noto: 'Noto Sans JP', sans-serif;
// $font_notoserif: 'Noto Serif JP', serif;
// $font_notoCJK: 'Noto Sans CJK JP', sans-serif;
// $font_kozGoPr6N: 'Kozuka Gothic Pr6N', sans-serif;
// $font_kobuGoStdN: 'KoburinaGoStdN', sans-serif;
// $font_kumoyaStd: 'KumoyaStd', sans-serif;
// $font_hiraKakuPro: 'HiraKakuPro', sans-serif;
// $font_suzuStd: 'SuzumushiStd', sans-serif;
// $font_anton: 'Anton', sans-serif;
// $font_ubuntu: 'Ubuntu';
// $font_oswald: 'Oswald';
// $font_roboto: 'Roboto', sans-serif;
// $font_mukta: 'Mukta', sans-serif;
// $font_srisakdi: 'Srisakdi', sans-serif;
$font: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$font_mincho: "游明朝", YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", serif;
$font_en: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;

$main_color: #64B5E7;
$main_gradient: linear-gradient(90deg, #3A982A 0%, #008DD4 100%);

$accent_color: #E81E10;
$base_color: #241915;
$title_color: #4A5778;
$white_color: #FFFFFF;
$black_color: #000000;
$red_color: #E60012;

// $gray_color: #B3B3B3;
// $green_color: #82CE98;
// $orange_color: #FF7100;
// $pink_color: #FF7BAC;
// $olive_color: #C3BE71;
// $teal_color: #32A7E0;
// $purple_color: #B16E9E;
// $brown_color: #633E1C;
// $yellow_color: #FCEE21;