@charset "UTF-8";
// Foundation
@import "Foundation/variable";
@import "Foundation/mixin";

.c-subtitle-ellipse {
  margin-bottom: 2em;
  font-family: $font;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;

  &.active {
    .logo {
      -webkit-animation: bound-o 1s 0s both;
      animation: bound-o 1s 0s both;

      &-line {
        transform: scale(5);
        opacity: 0;
      }
      &-base {
        opacity: 0;
      }
    }
  }
  .logo {
    position: relative;
    width: 560px;
    height: 392px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 1;
      transform: scale(1);
      transition: transform 2s 1.2s ease-in-out, opacity 2s 1.2s ease-in-out;
    }
  }
}
#mv {
  height: 100lvh;

  &.active {
    .sec-title::before,
    .sec-title::after {
      -webkit-animation: bound-o 1s .5s both;
      animation: bound-o 1s .5s both;
    }
  }
  .sec-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: calc(88px + 5lvh) 5.20vw 5lvh;
  }
  .sec-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

    span {
      display: block;

      + span {
        margin-top: .63em;
      }
      &:last-child {
        padding-left: .61em;
      }
    }
  }
  .sec-title {
    --width: 702px;
    position: relative;
    width: var(--width);
    height: calc(var(--width) * .349);
    background: url(../img/common/yamatogomu-base.svg) left/contain no-repeat;
    font-size: 0;
    flex-shrink: 0;

    // アニメーション用「O」
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 83%;
      display: block;
      height: 46.53%;
      width: 15.09%;
      background: url(../img/common/yamatogomu-o.svg) center/contain no-repeat;
    }
    &::after {
      top: 53%;
      left: 16%;
    }
  }
}
#bg {
  position: fixed;
  top: 10lvh;
  left: 0;
  width: 100%;
  height: 85lvh;
  z-index: -999;
  opacity: .6;

  * {
    height: 100%;
  }
  &::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff00 100%);
    z-index: 2;
  }

  img {
    display: block;
    margin: 0 4.4rem;
  }
}

#introduction {
  .sec-inner {
    
  }
}

#service {
  padding: 0;

  .sec-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 28.59vw;
    max-height: 549px;
  }
  .sec-box {
    max-width: 1428px;
    margin: 0 auto;
    padding: 112px 15px;

    &-inner {
      max-width: 1144px;
      margin: 0 auto;
    }
  }
}