#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 0 2.4rem;
  background: #fff;
  z-index: 100;
  font-size: 16px;
  font-size: clamp(14px, 1.36vw, 16px);

  .sec-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1720px;
    height: 100%;
    margin: 0 auto;

    .logo {
      display: block;

      img {
        display: block;
        width: 26rem;
        min-width: 150px;
      }
    }
  }
  .sec-list {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

    .item {
      &.active {
        .link > span::after {
          opacity: 0;
        }
      }
    }
    .link {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1.6rem;

      > span {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 1rem;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 12.5%;
          display: block;
          width: 75%;
          height: 2px;
          background: $accent_color;
          border-radius: 10px;
          transition: opacity .3s;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
    }

    .br {
      display: none;

      @media only screen and (max-width: 1400px) {
        display: block;
      }
    }
    
    .children {
      position: fixed;
      top: 112px;
      left: 0;
      display: none;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;
      width: 100%;
      max-width: 1152px;
      padding: 24px 6.4rem 28px;
      background: #fff;

      &-image {
        position: relative;
        padding-top: 74.37%;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.-col-4 {
        max-width: 1504px;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  .sec-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    height: 100%;
    margin-left: auto;
    padding: 0 1.6rem;
    color: #fff;
    font-weight: 700;
    transition: color .3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: -10rem;
      width: 23rem;
      min-width: 150px;
      height: 23rem;
      min-height: 150px;
      border-radius: 50%;
      transition: transform .3s;
    }
    &::before {
      background: $accent_color;
      transform: translateX(-50%);
      z-index: -2;
    }
    &::after {
      background: #fff;
      border: 4px solid $accent_color;
      transform: translateX(-50%) scale(0);
      z-index: -1;
    }
    &:hover {
      color: $accent_color;

      &::after {
        transform: translateX(-50%) scale(1);
      }
    }
    @include media('tb') {
      width: 62px;
      margin-bottom: 1rem;

      &::before,
      &::after {
        top: auto;
        bottom: 0;
        width: 15rem;
        height: 15rem;
      }
      span {
        top: 50%;
        left: calc(50% - 1.15rem);
        position: absolute;
        width: 2.3rem;
        height: 2px;
        background: #fff;
        transition-duration: .3s;
        transition-property: top, backgorund, transform, opacity;

        &:first-of-type {
          top: calc(50% - .7rem);
        }
        &:last-of-type {
          top: calc(50% + .7rem);
        }
      }
      &:hover {
        span {
          background: $accent_color;
        }
      }
      &.active {
        span {
          top: 50%;

          &:first-of-type {
            transform: rotate(35deg);
          }
          &:nth-of-type(2) {
            transform: rotate(-35deg);
          }
          &:last-of-type {
            opacity: 0;
          }
        }
      }
    }
  }

  @include media('tb') {
    height: 100px;

    .sec-inner {
      .logo img {
        width: 180px;
        min-width: 0;
      }
    }
  }
}
