#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 0 2.4rem;
  background: #fff;
  z-index: 100;
  font-size: 16px;
  font-size: clamp(14px, 1.36vw, 16px);

  .sec-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1720px;
    height: 100%;
    margin: 0 auto;

    .logo {
      display: block;

      img {
        display: block;
        width: 26rem;
        min-width: 150px;
      }
    }
    .contact {
      position: relative;
      display: flex;
      align-items: center;
      justify-self: flex-end;
      height: 100%;
      margin-left: auto;
      padding: 0 1.6rem;
      color: #fff;
      font-weight: 700;
      transition: color .3s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -10rem;
        width: 23rem;
        min-width: 150px;
        height: 23rem;
        min-height: 150px;
        border-radius: 50%;
        transition: transform .3s;
      }
      &::before {
        background: $accent_color;
        transform: translateX(-50%);
        z-index: -2;
      }
      &::after {
        background: #fff;
        border: 4px solid $accent_color;
        transform: translateX(-50%) scale(0);
        z-index: -1;
      }
      &:hover {
        color: $accent_color;

        &::after {
          transform: translateX(-50%) scale(1);
        }
      }
    }
  }
  .sec-list {
    display: flex;
    height: 100%;
    margin-left: 4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

    .link {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1.6rem;

      > span {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 1rem;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 12.5%;
          display: block;
          width: 75%;
          height: 2px;
          background: $accent_color;
          border-radius: 10px;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
    }

    .br {
      display: none;

      @media only screen and (max-width: 1400px) {
        display: block;
      }
    }
  }
}
