#nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100lvh + 100px);
  padding-bottom: 100px;
  clip-path: inset(0);
  z-index: 99;

  &.active + #navbg {
    opacity: 1;
  }
}

#navbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100lvh + 100px);
  background: #fff;
  opacity: 0;
  z-index: 98;
  pointer-events: none;
  transition: opacity .3s;
}