#nav {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100lvh + 100px);
  padding-bottom: 100px;
  clip-path: inset(0);
  z-index: 99;
  // transform: translateY(-50%);
  // -webkit-animation-duration: .6s;
  // -webkit-animation-fill-mode: both;
  // animation-duration: .6s;
  // animation-fill-mode: both;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }
  
  &.active {
    -webkit-animation: bound-nav .6s 0s both;
    animation: bound-nav .6s 0s both;
    
    + #navbg {
      opacity: 1;
    }
  }

  .sec-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 130px;
    min-height: 100lvh;
  }
  .sec-list {
    padding: 0 5rem;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    a:not(.children-title) {
      transition: opacity .3s;

      &:hover {
        opacity: .6;
      }
    }

    .link {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 12px 1.6rem;
      cursor: pointer;

      a {
        display: inline-block;
      }
      > span {
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 10px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 12.5%;
          display: block;
          width: 75%;
          height: 2px;
          background: $accent_color;
          border-radius: 10px;
          transition: opacity .3s;
        }
        &::after {
          transform: rotate(90deg);
        }
      }

      &.active {
        > span::after {
          opacity: 0;
        }
      }
      &.-contact {
        &::before, &::after {
          content: "";
          display: inline-block;
          width: 41px;
          height: 35px;
        }
        &::before {
          position: relative;
          margin-right: 8px;
          background: url(../img/common/icon-email-white.svg) center/18px no-repeat;
          z-index: 2;
        }
        &::after {
          position: absolute;
          top: 1px;
          left: 1.6rem;
          height: 100%;
          background: url(../img/common/icon-ellipse.svg) center/37px no-repeat;
          z-index: 1;
        }
      }
    }
    
    .children {
      display: none;
      width: 100%;
      max-width: 255px;

      &-title {
        padding: 12px 6rem 12px 30px;

        .arw {
          right: 3rem;
          width: 37px;

          &::before {
            background-size: 9px;
          }
        }
      }
    }
  }
  .sec-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 44.5vw;
    margin-top: 50px;
  }

  @include media('sp') {
    .sec-list {
      padding: 0 2.4rem;
      font-size: 16px;
    }
  }
}

#navbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100lvh + 100px);
  background: #fff;
  opacity: 0;
  z-index: 98;
  pointer-events: none;
  transition: opacity .3s;

  @include media('pc') {
    opacity: 0 !important;
  }
}