@media print, screen and (min-width: 1025px) {
  .tb {
    display: none !important;
  }
  .sp {
    display: none !important;
  }
}
@media print, screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}
@media print, screen and (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .tc {
    display: none !important;
  }
}
@media print, screen and (min-width: 1025px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
#wrapper {
  position: relative;
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* input */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select,
textarea {
  position: relative;
  background-color: transparent;
  border: 1px solid #E7E8E8;
  background-color: #E7E8E8;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  outline: none !important;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select,
  textarea {
    padding: 1.2rem 1.6rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select {
  height: 4.8rem;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select {
    height: 5.6rem;
  }
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #E7E8E8;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/select-down.svg);
  background-position: calc(100% - 1.2rem) 50%;
  background-size: 1rem 0.8rem;
  background-repeat: no-repeat;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  select {
    background-position: calc(100% - 1rem) 50%;
  }
}

picture,
figure,
.image_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

picture img,
figure img,
.image_wrap img {
  width: 100%;
}

.u-img-cover {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-img-contain {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.u-list {
  list-style: disc;
  padding-left: 1.5em;
}

.h-opacity a, a.h-opacity {
  transition: opacity 0.3s;
}
.h-opacity a:hover, a.h-opacity:hover {
  opacity: 0.7;
}

.c-section {
  padding: 0 2.5rem;
}

.c-inner {
  max-width: 1428px;
  margin: 0 auto;
}

.c-heading {
  max-width: 1920px;
  margin: 17.7rem auto 0;
}
.c-heading .sec-inner {
  display: grid;
  grid-template-columns: 1032fr 888fr;
  height: 65.5rem;
}
.c-heading .sec-left .en {
  font-size: 13.54vw;
  font-size: clamp(0px, 13.54vw, 260px);
  font-weight: bold;
}
.c-heading .sec-right {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */