@charset "UTF-8";
@media print, screen and (min-width: 1025px) {
  .tb {
    display: none !important;
  }
  .sp {
    display: none !important;
  }
}
@media print, screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}
@media print, screen and (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .tc {
    display: none !important;
  }
}
@media print, screen and (min-width: 1025px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
#wrapper {
  position: relative;
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* input */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select,
textarea {
  position: relative;
  background-color: transparent;
  border: 1px solid #E7E8E8;
  background-color: #E7E8E8;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  outline: none !important;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select,
  textarea {
    padding: 1.2rem 1.6rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select {
  height: 4.8rem;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select {
    height: 5.6rem;
  }
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #E7E8E8;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/select-down.svg);
  background-position: calc(100% - 1.2rem) 50%;
  background-size: 1rem 0.8rem;
  background-repeat: no-repeat;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  select {
    background-position: calc(100% - 1rem) 50%;
  }
}

picture,
figure,
.image_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

picture img,
figure img,
.image_wrap img {
  width: 100%;
}

.u-img-cover {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-img-contain {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.u-list {
  list-style: disc;
  padding-left: 1.5em;
}

.u-line {
  padding-left: 2px;
  display: inline;
  color: #FFFFFF;
  background: linear-gradient(to right, #008DD4, #3A982A);
  background-repeat: no-repeat;
  background-size: 100% 1.25em;
  background-position: center;
}

.h-opacity a, a.h-opacity {
  transition: opacity 0.3s;
}
.h-opacity a:hover, a.h-opacity:hover {
  opacity: 0.7;
}

.ff-en {
  font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.c-section {
  padding: 0 24px;
}

.c-inner {
  max-width: 1428px;
  margin: 0 auto;
}

.c-inner-s {
  max-width: 1140px;
  margin: 0 auto;
}

.c-heading {
  max-width: 1920px;
  margin: 17.7rem auto 0;
}
.c-heading .sec-inner {
  display: grid;
  grid-template-columns: 1032fr 888fr;
  height: 655px;
  height: clamp(0px, 34.11vw, 655px);
}
.c-heading .sec-left {
  padding-top: 8rem;
  padding-left: clamp(0px, 4vw, 88px);
}
.c-heading .sec-left .title {
  position: relative;
  display: block;
  font-size: 5.6rem;
  font-size: clamp(0px, 3vw, 56px);
  font-weight: 700;
  padding-left: 1.64em;
}
.c-heading .sec-left .title::before {
  content: "";
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  background: url(../img/common/icon-ellipse.svg) center/contain no-repeat;
}
.c-heading .sec-left .en {
  display: block;
  background: url(../img/common/bg-title.jpg) center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 13.54vw;
  font-size: clamp(0px, 13.54vw, 260px);
  font-weight: bold;
  line-height: 1;
}
.c-heading .sec-right {
  width: 46.25vw;
  max-width: 888px;
  height: 100%;
}

.c-title {
  display: block;
  margin-bottom: 0.8em;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.6;
}
.c-title .num {
  margin-right: 16px;
}

.c-title-ellipse {
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: 700;
  padding-left: 0.9em;
  line-height: 1.6;
}
.c-title-ellipse::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0.2em;
  width: 0.5em;
  height: 0.5em;
  background: url(../img/common/icon-ellipse.svg) center/contain no-repeat;
}

.c-subtitle-ellipse {
  display: block;
  position: relative;
  margin-bottom: 5px;
  font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-left: 1.8em;
  line-height: 1.6;
}
.c-subtitle-ellipse::before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0.5em;
  width: 0.9em;
  height: 0.9em;
  background: url(../img/common/icon-ellipse.svg) center/contain no-repeat;
}

.c-btn {
  position: relative;
  display: inline-block;
  min-width: 376px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 126px 30px 48px;
  background: #241915;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.c-btn .arw {
  position: absolute;
  right: 4.8rem;
  top: calc(50% - 23px);
  width: 62px;
  height: 47px;
  background: url(../img/common/icon-ellipse-gray.svg) center/contain no-repeat;
}
.c-btn .arw::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -2px;
  background: url(../img/common/icon-arrow.svg) center/14px no-repeat;
}
.c-btn:hover {
  background: #E81E10;
  color: #fff;
}
.c-btn:hover .arw {
  background-image: url(../img/common/icon-ellipse-outline-white.svg);
}
.c-btn:hover .arw::before {
  background-image: url(../img/common/icon-arrow-white.svg);
}

.c-btnlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.c-btnlist-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #241915;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
}
.c-btnlist-btn .arw {
  position: absolute;
  top: calc(50% - 15px);
  right: 3px;
  width: 43px;
  height: 33px;
  background: url(../img/common/icon-ellipse-gray.svg) center/contain no-repeat;
}
.c-btnlist-btn .arw::before, .c-btnlist-btn .arw::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.c-btnlist-btn .arw::before {
  position: relative;
  margin-top: -1px;
  background: url(../img/common/icon-arrow.svg) center/10px no-repeat;
  z-index: 2;
}
.c-btnlist-btn .arw::after {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/common/icon-ellipse.svg) center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.c-btnlist-btn:hover .arw::before {
  background-image: url(../img/common/icon-arrow-white.svg);
}
.c-btnlist-btn:hover .arw::after {
  opacity: 1;
}

.c-btn-accent {
  position: relative;
  display: block;
  width: 100%;
  padding: 25px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  text-align: left;
}
.c-btn-accent .arw {
  position: absolute;
  top: 0;
  right: 5px;
  width: 62px;
  height: 100%;
  background: url(../img/common/icon-ellipse-gray.svg) center/contain no-repeat;
}
.c-btn-accent .arw::before, .c-btn-accent .arw::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.c-btn-accent .arw::before {
  position: relative;
  margin-top: -1px;
  background: url(../img/common/icon-arrow-white.svg) center/14px no-repeat;
  z-index: 2;
}
.c-btn-accent .arw::after {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/common/icon-ellipse.svg) center/contain no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

a:hover .c-btn-accent .arw::before, a.c-btn-accent:hover .arw::before {
  background-image: url(../img/common/icon-arrow.svg);
}
a:hover .c-btn-accent .arw::after, a.c-btn-accent:hover .arw::after {
  opacity: 0;
}

.c-sidenav {
  display: grid;
  grid-template-columns: 138px 1fr;
  gap: 0 17px;
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 24px;
}
.c-sidenav-nav {
  padding: 24px 10px 24px 0;
  font-size: 20px;
  font-weight: bold;
}
.c-sidenav-nav .item {
  display: block;
}
.c-sidenav-cnt {
  max-width: 1428px;
}

.c-box {
  position: relative;
  border-radius: 2.4rem;
  z-index: 2;
}
.c-box::before, .c-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.c-box::before {
  top: 1px;
  height: calc(100% - 2px);
  background: url(../img/common/bg-box.jpg) center/cover no-repeat;
  z-index: -1;
}
.c-box::after {
  background: linear-gradient(90deg, #3A982A 0%, #008DD4 100%);
  border-radius: inherit;
  z-index: -2;
}

.c-bg {
  position: fixed;
  top: 10lvh;
  left: 0;
  width: 100%;
  height: 85lvh;
  z-index: -999;
  opacity: 0.6;
}
.c-bg * {
  height: 100%;
}
.c-bg::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.c-bg img {
  display: block;
  margin: 0 4.4rem;
}
@media only screen and (max-width: 768px) {
  .c-bg {
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */