#mv {
  height: 100vh;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  z-index: -999;
  opacity: .6;

  * {
    height: 100%;
  }
  &::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff00 100%);
    z-index: 2;
  }

  img {
    display: block;
    margin: 0 4.4rem;
  }
}

#main-top {
  #introduction {
    .sec-inner {
      
    }
  }
}