#mv {
  height: 100vh;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  z-index: -999;

  * {
    height: 100%;
  }

  img {
    display: block;
    margin: 0 4.4rem;
  }
}

#main-top {
  #introduction {
    .sec-inner {
      
    }
  }
}